// ------------------------------------------------------------------
// Region
// ------------------------------------------------------------------

.shower__region {
	@include offscreen;
	display:block;
	}
