// ------------------------------------------------------------------
// Inline
// ------------------------------------------------------------------

a {
	@include underline(currentColor, 0.09);
	color:$color;
	}
b, strong {
	font-weight:bold;
	}
i, em, dfn {
	font-style:italic;
	}
code, kbd, mark, samp {
	padding:0.1em 0.3em;
	border-radius:0.4em;
	}
kbd, code, samp {
	background:$light;
	color:#000;
	line-height:1;
	font-family:PT Mono, monospace, monospace;
	}
mark {
	// background:$yellow;
	}
sub, sup {
	position: relative;
	line-height:0;
	font-size:75%;
	}
sub {
	bottom:-0.25em;
	}
sup {
	top:-0.5em;
	}
