// ------------------------------------------------------------------
// Clear
// ------------------------------------------------------------------

&.clear {
	&.active {
		z-index:2;
		}
	&::after {
		visibility:hidden;
		}
	}
