// ------------------------------------------------------------------
// Shower List
// ------------------------------------------------------------------

.shower.list {

	width:100%;
	display:flex;
	flex-wrap:wrap;
	background:#EEE;

	// IE10-11 scrolling fix

	position:absolute;
	clip:rect(0, auto, auto, 0);

	// Elements

	@import
		'../caption/caption-list',
		'../slide/slide-list',
		'../badge/badge-list';

	}
