// ------------------------------------------------------------------
// Shower
// ------------------------------------------------------------------

.shower {

	color:$black;
	counter-reset:slide;
	font:24px/2 Roboto, sans-serif;

	-webkit-print-color-adjust:exact;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;

	// Print

	@media print {
		text-rendering:geometricPrecision;
		}

	}
