// ------------------------------------------------------------------
// Slide Full
// ------------------------------------------------------------------

.slide {

	position:absolute;
	top:0;
	left:0;
	margin-left:150%;
	visibility:hidden;

	&:target {
		margin:0;
		visibility:visible;
		}

	// Elements

	@import
		'elements/next-full',
		'elements/shout-full';

	}
