// ------------------------------------------------------------------
// Screen 4:3
// ------------------------------------------------------------------
// 1. Ratio ............ Regular screen 16:10 ratio setup
// 2. Import ........... Import of all files modified by $ratio
// ------------------------------------------------------------------

// Ratio

$ratio:4/3;

// Import

@import 'screen';
